body{
    background-color: silver;
    text-align:center;
    padding:8px;
}

footer{
    background-color: black;
    color: white; 
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

img{
    width:300px; 
    height:200px;
}